/* Start Of Page CSS */
/* Style of Body */

body
{
	margin: 0;
	font-family:Helvetica,Arial,freesans,sans-serif;
	font-size:13px;
}

/* Style the header */
.header
{
	font-size: 16px;
	background-color: #FFFFFF; /* White */
	padding: 10px;
	text-align: center;
	color: #1f1b1b; /* Red Text */
	border-top: 5px solid #1f1b1b; /* Black Line */
}

/* Style the top navigation bar */
.topnav
{
	text-align:center;
	overflow: hidden;
    background-color: #1f1b1b; /* Black */
}

/* Style the topnav links */
.topnav a
{
	display: inline-block;
    color: #FFFFFF; /* Red Text*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover
{

    background-color: #000000;
    color: white;
}

/* Create two equal columns side by side */
.column
{
	text-align: center;
	float: left;
	width: 50;
	padding: 15px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:600px)
{
.column
	{
		width: 100%;
	}
}
.column h1
{
	text-align: center;
}

/* Clear floats after the columns */
.row:after
{
    content: "";
    display: table;
    clear: both;
}

/* PHP Database Table */
table.Cilfynydd
{
	background-color: #EEE8AA;
	width: 400px;
}

table.Cardiff
{
	background-color: #E6E6FA;
	width: 400px;
}

table.Trefforest
{
	background-color: #AFEEEE;
	width: 400px;
}

td
{
	text-align: center;
	width: 100px;
}
/* End Of Page CSS */